<header id="header" class="skel-layers-fixed">
    <h1><a href="{{ '/en#banner' | relative_url }}" class="site-title" >{{ site.title }}</a></h1>
    <nav id="nav">
        <ul>
            <li><a href="{{ '/en#banner' | relative_url }}">Home</a></li>
            <li><a href="{{ '/en#we' | relative_url }}">We</a></li>
            <li><a href="{{ '/en#news' | relative_url }}">News</a></li>
            <li><a href="{{ '/en#history' | relative_url }}">Our History</a></li>
            <li><a href="{{ '/en#matches' | relative_url }}">Current Season</a></li>
            <li><a href="mailto:kontakt@loebtau-lachse.de" class="button special">Join Us!</a></li>
            <li><a href="{{ '/' | relative_url }}" class="button alt">Deutsch</a></li>
        </ul>
    </nav>
</header>