<header id="header" class="skel-layers-fixed">
    <h1><a href="/#banner" class="site-title" >{{ site.title }}</a></h1>
    <nav id="nav">
        <ul>
            <li><a href="/#banner">Home</a></li>
            <li><a href="/#we">Wir</a></li>
            <li><a href="/#news">News</a></li>
            <li><a href="/#history">Unsere Geschichte</a></li>
            <li><a href="/#matches">Aktuelle Saison</a></li>
            <li><a href="mailto:kontakt@loebtau-lachse.de" class="button special">Werde Mitglied</a></li>
            <li><a href="{{ '/en' | relative_url}}" class="button alt">English</a></li>
        </ul>
    </nav>
</header>