<head>
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="Löbtau Lachse: Die sportliche Frisbee-Gemeinschaft aus Löbtau, Dresden." />
    <meta name="keywords" content="Loebtau, Lachs, Loebtau Lachse, Dresden, Frisbee" />

    <link rel="apple-touch-icon" sizes="180x180" href="{{ '/images/apple-touch-icon.png' | relative_url }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ '/images/favicon-32x32.png' | relative_url }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ '/images/favicon-16x16.png' | relative_url }}">
    <link rel="manifest" href="{{ '/images/site.webmanifest' | relative_url }}">
    <link rel="mask-icon" href="{{ '/images/safari-pinned-tab.svg' | relative_url }}" color="#5bbad5">
    <link rel="shortcut icon" href="{{ '/images/favicon.ico' | relative_url }}">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="{{ '/images/browserconfig.xml' | relative_url }}">
    <meta name="theme-color" content="#ffffff">

    <script src="{{ '/js/jquery.min.js' | relative_url }}"></script>
    <script src="{{ '/js/skel.min.js' | relative_url }}"></script>
    <script src="{{ '/js/skel-layers.min.js' | relative_url }}"></script>
    <script src="{{ '/js/init.js' | relative_url }}"></script>
    <noscript>
        <link rel="stylesheet" href="{{ '/css/skel.css' | relative_url }}" />
        <link rel="stylesheet" href="{{ '/css/style.css' | relative_url }}" />
        <link rel="stylesheet" href="{{ '/css/style-xlarge.css' | relative_url }}" />
    </noscript>
</head>
