<header id="header" class="skel-layers-fixed">
    <h1><a href="/en#banner" class="site-title" >{{ site.title }}</a></h1>
    <nav id="nav">
        <ul>
            <li><a href="/en#banner">Home</a></li>
            <li><a href="/en#we">We</a></li>
            <li><a href="/en#news">News</a></li>
            <li><a href="/en#history">Our History</a></li>
            <li><a href="/en#matches">Current Season</a></li>
            <li><a href="mailto:kontakt@loebtau-lachse.de" class="button special">Join Us!</a></li>
            <li><a href="/" class="button alt">Deutsch</a></li>
        </ul>
    </nav>
</header>