<!DOCTYPE html>
<html>

  {% include /head.html %}

	<body id="top">

        {% include /header.html %}

        <section id="banner">
            <div class="inner">
                <h2>Wir sind die Löbtau Lachse</h2>
                <p>Frisbee-Enthusiasten aus dem Herzen Dresdens.</p>
                <ul class="actions">
                    <li><a href="mailto:kontakt@loebtau-lachse.de" class="button big special">Werde ein Löbtau Lachs</a></li>
                    <li><a href="#wir" class="button big alt">Erfahre mehr</a></li>
                </ul>
            </div>
        </section>
        {{ content }}
        {% include /footer.html %}

    </body>

</html>
