<!DOCTYPE html>
<html>

  {% include /head.html %}

	<body id="top">

        {% include /header_en.html %}

        <section id="banner">
            <div class="inner">
                <h2>We are the Löbtau Lachse</h2>
                <p>Frisbee-Enthusiasts from the heart of Dresden.</p>
                <ul class="actions">
                    <li><a href="mailto:kontakt@loebtau-lachse.de" class="button big special">Join the Löbtau Lachse</a></li>
                    <li><a href="#we" class="button big alt">Learn more</a></li>
                </ul>
            </div>
        </section>
        {{ content }}
        {% include /footer_en.html %}

    </body>

</html>
